<div>Line Chart</div>

<mat-divider></mat-divider>

<div>
    <div>Line Charts</div>
    <div>Line Charts</div>
    <div>Line Charts</div>
    <div>Line Charts</div>
</div>

<mat-divider></mat-divider>

<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div>